*.a
*.bundle
*.bz2
*.dSYM
*.dylib
*.gz
*.lz
*.o
*.orig
*.so
*.tar
*.tgz
*.xz
*.zip
*~
.DS_Store
2da
3dalloc1
3dalloc2
3dalloc3
3dalloc4
?
SHA-256/shatest-ietf
SHA-256/so-20020953-sha256
Scores
Untracked
a.out
am-pm
arraysize
binary
bsmax
bsmin
bst-1
bst-2
check-rename
circular-dll
cmpfltint
cntinv
colourpartition
computist-1
computist-2
core
cs50.h
cscope.out
data
dllswap
e2big
emtb
emtd
emtr
excel-rc
expand_tilde
factors
fault
fd-passing
fifocircle
fifosize
filter.stderr
gai
genouterr
genprintfmt
heapprt
if
if-jl
if-strict
incunabulum
junk
ll19
ll3
ll5
madump
map
marquee
marquee3
marquee4
matmake3d
matmul89
matmul99
mda
modbinsearch
mppsel
multi-pipe-sort
multiopts
partition-4
pbb
pipecircle
piped-merge-sort
pipeline
pipesize
posixver.h
pthread-37
pthread-?
q7
qs37
qsel
quine
quiz
rangesquash1
rangesquash2
rangesquash3
rangesquash4
ratcalc
rational
readdir
recv
regress
rev
revlist
roundup
run-processes
scan
script.awk
script.sed
script.sh
send
sets
sigalrm
sigchld
signals
so.28947528
so.33887484
sorttest
stld
streplace
term-pgrp
test-fstatat
test-rename
timer.h
timezeromoves
trie-31
uint128
unwrap
utf8-test
visit
vlamat
vlastruct
wchar-test
