# Adding ??? rule precludes adding files under src directory
#???
*.a
*.bak
*.bundle
*.bz2
*.class
*.dSYM
*.dll
*.dylib
*.exe
*.gz
*.lz
*.o
*.orig
*.out
*.so
*.tar
*.tgz
*.xz
*.zip
*~
.DS_Store
.sqlcmdlog
?
?.???
??
??.???
Osiris/
Safe/
Scores
Sphinx/
Untracked/
[a-z][a-z][0-9][0-9]
[a-z][a-z][a-z][0-9][0-9]
[a-z][a-z][a-z][a-z][0-9][0-9]
awk.script
core
cscope.out
data
data.[0-9]
data[0-9]
file
file.[0-9]
file[0-9]
inc/*.h
input
junk
output
script.awk
script.sed
script.sh
sed.script
tmp/
