*.bz2
*.dSYM
*.gz
*.o
*.orig
*.tgz
*.xz
*~
.DS_Store
?
a.out
cmpfltint
const-stuff
core
e2big
excel-rc
fifocircle
incunabulum
madump
mda
multi-pipe-sort
piped-merge-sort
pipeline
posixver.h
pthread-?
quine
recv
regress
send
sorttest
streplace
timer.h
unwrap
