ddpr
dienet
fixin
man7
pipe-rot
posixcmd
posixfun
posixhdr
rfn
rfn-c
rfn-cpp
rfn-h
rfn-pl
rfn-sh
rfn-sql
so
so-books
so-c-reserved
so-dotarrow
so-esql
so-getchar
so-late
so-primes
so-quotes
so-reformat-c
so-stderr
soa
sops
soqvg
sow
sscce
wso
