check-rename
dec_to_hex
factorial
factorial-gcc
incunabulum-ancient
incunabulum-modern
lcm20
lcm20-ep
lcm20-ts
map
pbb
quine-c
quine-py
random59
rangesquash1
rangesquash2
rangesquash3
rangesquash4
rev
revlist
rotarr37
select
stld
test-rename
uint128
