check-rename
dec_to_hex
factorial
incunabulum-ancient
incunabulum-modern
lcm20
map
pbb
quine-c
quine-py
rangesquash1
rangesquash2
rangesquash3
rangesquash4
rev
revlist
select
stld
test-rename
uint128
