alt-min-primes
*.dSYM
eratosthenes-?
eratosthenes-?-cxx
eratosthenes-?-cxx.cpp
isprime
list.of.primes.bz2
minimal-primes
*.o
*.out
pp97-cxx
pp97-cxx.cpp
ppf17
ppf17-cxx
ppf17-cxx.cpp
prime-factors
project-euler-87
so28005392
