*.log
__.SYMDEF SORTED
client-20170706
config.h
cpd-client
cpd-server
daemonize.c
debug.h
emalloc.c
emalloc.h
errhelp.c
estrdup.c
kludge.h
libpcd.a
mkpath.c
mkpath.h
pater-familias
posixver.h
server-20170706
stderr.c
stderr.h
sysstat.h
tcp_accept.c
tcp_connect.c
tcp_listen.c
unp.h
unpv13e.h
